.App {
    display: flex;
  }
  
  .column {
    padding-right: 1em;
  }
  
  ul {
    list-style: none;
    padding-left: 16px;
  }
  
  li {
    margin: 0.5em;
  }
  
  button {
    width: 200px;
  }
  .styledText {
    display: block;
    margin: 20px 0 px;
    border: 1px solid lightblue;
  }